{% extends 'myblog/master.html' %}


{% block head %}
{% endblock %}


{% block css %}
{% endblock %}


{% block cont %}
    <header class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black l-h">{{ article_nid.title }}</h1>
    </header>
    <ol class="breadcrumb bg-white b-a" itemscope="">
        <li>
            <a href="/myblog/index/" itemprop="breadcrumb" title="返回首页" data-toggle="tooltip">
            <i class="glyphicon glyphicon-home" aria-hidden="true"></i>&nbsp;首页</a>
        </li>
        <li class="active">
            <a href="/myblog/classify-{{ article_nid.classify.id }}/">
            {{ article_nid.classify.classify }}
            </a>
        </li>
        <li class="active">{{ article_nid.title }}</li>
    </ol>
    <div class="wrapper-md" id="post-panel">
{#                   文章板块#}
        <div class="blog-post">
            <div class="panel">
            <div class="index-post-img">
                <a href="#">
                    <div class="item-thumb lazy"
{#                                             style="background-image: url(https://yantuz.cn/mmPic/)">#}
                         style="background-image: url(/media/images/0cd3b0552956b937acb598c3fdfd38eaeb1e68b9176a1-TbEvGB_fw658_20190312175138_783.jpg)">
                    </div>

                </a>
            </div>
            <blockquote>
                <p>{{ article_nid.introduce }}</p>
            </blockquote>
            <div class="post-meta wrapper-lg">
                <div class="entry-content l-h-2x">
                    {% autoescape off %}
                    {{ article_nid.content }}
                    {% endautoescape %}
                </div>

                <div class="text-muted post-item-foot-icon">
                    <i class="glyphicon glyphicon-user"></i><span class="m-r-sm">&nbsp;<a href="/myblog/index/">昵称&nbsp;</a></span>
                    <i class="glyphicon glyphicon-time"></i><span class="m-r-sm">&nbsp;{{ article_nid.addtime|date:"Y-m-d" }}</span>
                    <i class="glyphicon glyphicon-eye-open"></i><span class="m-r-sm">&nbsp;{{ article_nid.liulangliang }}&nbsp浏览量</span>
                </div>
                <!--text-muted-->
            </div><!--post-meta wrapper-lg-->
        </div><!--panel/panel-small-->
        </div>
        <style>
            .page-navigator > li > a, .page-navigator > li > span {
                line-height: 1.42857143;
                padding: 6px 12px;
            }
        </style>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="pinglun_name">你的名字</label>
            <input type="text" name="pinglun_name" id="pinglun_name" />
            <label for="pinglun_cont">你想说点啥</label>
            <input type="text" name="pinglun_cont" id="pinglun_cont" />
            <button id="pinglun_tijiao" type="button">发表</button>
        </form>
    </div>
{% endblock %}


{% block pinglun %}
    <h3 class="widget-title m-t-none text-md">当前评论</h3>
    <div>pass</div>
{% endblock %}


{% block biaoqianyun %}
    {% for i in article_nid.label.all %}
    <a href="/myblog/label-{{ i.id }}/" class="label bg-info" title="该标签下有 {{ i.article_set.all |length }} 篇文章" data-toggle="tooltip">{{ i.label }}</a>
    {% endfor %}
{% endblock %}


{% block js %}
    <script>
        $('#pinglun_tijiao').click(function () {
            $.ajax({
                url: '/myblog/pinglun-{{ article_nid.id }}/',
                type: 'POST',
                data: {'name': $('#pinglun_name').val(),
                        'pinglun_cont': $('#pinglun_cont').val(),
                },
                headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                success: function (data) {
                    var obj = JSON.parse(data);
                    alert(obj.cont)
                }


            })
        })
    </script>
{% endblock %}


