{% extends 'myblog/master.html' %}


{% block head %}
{% endblock %}


{% block css %}

{% endblock %}


{% block cont %}
    <header class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3 text-black l-h">nicheng_blog</h1>
        <small class="text-muted letterspacing indexWords">没谁愿意，让一生在碌碌无为中度过。整理你的行装，不同的起点，可以达到同样辉煌的终点。人生没有对错，成功永远属于奋斗者。</small>
    </header>
    <div class="wrapper-md" id="post-panel">
            <ol class="breadcrumb bg-white b-a" itemscope="">
                <li>
                    <a href="/myblog/index/" itemprop="breadcrumb" title="返回首页" data-toggle="tooltip">
                    <i class="glyphicon glyphicon-home" aria-hidden="true"></i>&nbsp;首页
                    </a>
                </li>
{#                <li class="active">代码</li>#}
            </ol>                   <!-- 输出文章 TODO:整合该部分代码-->
    {#                        文章板块#}
            <div class="blog-post">
                {% for i in page_fen %}
                <div class="panel">
                    <div class="index-post-img">
                        <a href="#">
                            <div class="item-thumb lazy"
    {#                                             style="background-image: url(https://yantuz.cn/mmPic/)">#}
                                 style="background-image: url(/media/images/0cd3b0552956b937acb598c3fdfd38eaeb1e68b9176a1-TbEvGB_fw658_20190312175138_783.jpg)">
                            </div>

                        </a>
                    </div>
                    <div class="post-meta wrapper-lg">
    {#                                    标题#}
                        <h2 class="m-t-none index-post-title">
                            <a href="/myblog/detail-{{ i.id }}/" style="line-height: 29px">{{ i.title }}</a></h2>
    {#                                    简介#}
                        <p class="summary l-h-2x text-muted">{{ i.introduce }}</p>
    {#                                    横格线↓#}
                        <div class="line line-lg b-b b-light"></div>

                        <div class="text-muted post-item-foot-icon">
                            <i class="glyphicon glyphicon-user"></i><span class="m-r-sm">&nbsp;<a href="/myblog/index/">昵称&nbsp;</a></span>
                            <i class="glyphicon glyphicon-time"></i><span class="m-r-sm">&nbsp;{{ i.addtime|date:"Y-m-d" }}</span>
                            <i class="glyphicon glyphicon-eye-open"></i><span class="m-r-sm">&nbsp;{{ i.liulangliang }}&nbsp浏览量</span>
                            <a href="#" class="m-l-sm post-item-comment">
{#                            <a href="#" class="m-l-sm">#}
                                <i class="glyphicon glyphicon-comment"></i>&nbsp;暂无评论
                            </a>
                        </div>
                        <!--text-muted-->
                    </div><!--post-meta wrapper-lg-->
                </div><!--panel/panel-small-->
                {% endfor %}
            </div>
            <!--分页 按钮-->
            <nav class="text-center m-t-lg m-b-lg" role="navigation">
                <nav aria-label="Page navigation">
                    <ul class="pagination" style="margin: 0">
                        <li>
                            <a href="/myblog/index/?p={{ previous_page }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            {% for i in p_b %}
{#                            <span style="color: #00a0e9">{{ i }}</span>#}
                                {{ i }}
                            {% endfor %}
                        </li>
                        <li>
                            <a href="/myblog/index/?p={{ next_page }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <form id="page_form" action="/myblog/index/" method="get">

                    <div style="width: 150px;margin: 0 auto;display: table;position: relative">
                        <input id="page_input" type="text" class="form-control" name="p" placeholder="共{{ c }}页">
                        <span class="input-group-btn">
                        <button id="page_submit" class="btn btn-default" type="button">Go!</button>
                        </span>
                        <span id="page_err" style="color: blue;position: absolute;display: inherit;line-height: 35px;"></span>
                    </div>
                </form>
            </nav>
            <style>
                .page-navigator > li > a, .page-navigator > li > span {
                    line-height: 1.42857143;
                    padding: 6px 12px;
                }
            </style>
        </div>
{% endblock %}


{% block pinglun %}
    <h3 class="widget-title m-t-none text-md">最新评论</h3>
    <div>pass</div>
{% endblock %}


{% block biaoqianyun %}
{% for i in label_m %}
<a href="/myblog/label-{{ i.id }}/" class="label bg-info" title="该标签下有 {{ i.article_set.all | length }} 篇文章" data-toggle="tooltip">{{ i.label }}</a>
{% endfor %}
{% endblock %}

{% block js %}
    <script>
        $('#page_submit').click(function () {
            var a = $('#page_input').val();
            var a = Number(a)
            if (1 <= a & a <= {{ c }}) {
                $('#page_form').submit();
            }
            else {
                {#alert('输入的页数超出范围');#}
                $('#page_err').text('输入的页数超出范围')
                $('#page_input').focus();
            }
        })
    </script>
{% endblock %}


