<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css"/>
</head>

<body>
    <div class="container" style="width: 500px;margin: 200px auto;text-align: center">

        <form class="form-signin" method="post" action="/myblog/login/">
            {% csrf_token %}
            <h2 class="form-signin-heading">请登录</h2>
            <label for="inputEmail" class="sr-only">用户名</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="请输入用户名" required autofocus name="user">
            <label for="inputPassword" class="sr-only">输入密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required name="password">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me" name="remeber"> 记住密码
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <span id="error" style="color: red;font-size: 20px">{{ login_err }}</span>
        </form>

    </div> <!-- /container -->

    <script src="/static/jquery.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>
</html>