<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/app01/home/" method="post">
        <input name="username" type="text" placeholder="用户名"/>
        <input name="email" type="text" placeholder="邮箱"/>
        <input name="ge nder" type="text" placeholder="性别"/>
        <input type="submit" value="提交"/>
    </form>
    <div>
        <table>
            {% for i in user_list %}
            <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.gander }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>